<div class="container mt-2">
  <form [formGroup]="form">
    <div class="form-group mt-2">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="username"
      [ngClass]="{'is-invalid': element.username.touched &&element.username.invalid}"
      >
      <div class="alert alert-danger" *ngIf="element.username.touched && element.username.invalid">
        <div *ngIf="element.username.errors?.['required']">Chưa nhập Username này</div>
        <div  *ngIf="element.username.errors?.['minlength']">Username cần nhập ít nhất 6 kí tự</div>
        <div  *ngIf="element.username.errors?.['noSpaceValidations']">Username không được chứa khoảng trắng</div>
      </div>
    </div>

    <div class="form-group mt-2">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password"
      [ngClass]="{'is-invalid': element.password.touched &&element.password.invalid}"
      >
      <div class="alert alert-danger" *ngIf="element.password.touched && element.password.invalid">
        <div *ngIf="element.password.errors?.['required']">Chưa nhập mật khẩu này</div>
        <div  *ngIf="element.password.errors?.['minlength']">Mật khẩu cần nhập ít nhất 6 kí tự</div>
        <div  *ngIf="element.password.errors?.['upperFirstValidations']">Chữ đầu tiên phải là chữ hoa</div>
        <div  *ngIf="element.password.errors?.['difficultPwValidations']">Mật khẩu phải bao gồm cả số, chữ thường và hoa</div>

      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2" [disabled]="form.invalid" (click)="hacker()">Submit</button>

  </form>
</div>
